  table {
        text-align: left;
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        margin-left: -220px;
    }
    
    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        

    }
    
    th {
        background-color: #f2f2f2;
    }
    
    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    
    tbody tr:hover {
        background-color: #f5f5f5;
    }


h1{
    
    margin-left: -200px;
    font-size: 15px;
}
.registrar-btn{
  margin-top: 10px;
  margin-left: -200px;
  transition: transform 0.5s ease-in-out;

}

.registrar-btn:hover{
  transform: scale(1.07);
}

#registrar-btn {
  background-color: #064C30;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
}
.search-bar {
  margin-bottom: 10px;
  margin-left: 480px;
  display: flex;
  align-items: center;
  width: 55%;
}

#search-input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 20px;
  background-color: #f0f0f0;
  font-size: 16px;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

#search-input::placeholder {
  color: #999;
}

#search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#search-button:hover {
  background-color: #0056b3;
}

.reporte-btn-container {
    display: flex;
    justify-content: flex-end;
   margin-right: 20px;
}

#reporte-btn-excel {
    background-color: green;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 75px;
    margin-left: 10px;
}

.reporte-btn{
  margin-top: 10px;
  margin-left: 650px;
  

}

#reporte-btn {
 background-color: darkred;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  width: 75px;
 transition: background-color 0.3s ease, transform 0.3s ease;
}

#reporte-btn:hover{
  background-color: darkred;
  transform: scale(1.15);
}

.reporte-btn-excel{
  margin-top: 10px;

  

}

#reporte-btn-excel {
 background-color: green;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  width: 75px;
  margin-left: 10px;
}

.seleccioArea{
    margin-left: 465px;
    margin-top: -10px;
    
}
