* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0E774F;
  height: 60px;
  padding: 0 20px;
}

.logo img {
  height: 140px;
  width: 140px;
  margin-top: -10px;
  margin-left: 25px;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #064C30;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;

}

.navbar-title {
  margin-left: 620px;
}

.navbar-admin {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #064C30;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #064C30;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: #064C30;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Estilos para la barra lateral */
.sidebar {
  background-color: #064C30;
   height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}


.sidebar a {
  margin-top: 25px;
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  margin-bottom: 25px;

}

.sidebar a:hover {
  background-color: black;
  color: white;

}
.navbar .btn {
  background-color: transparent;
  color: white;
  font-size: 18px;
  border: none;
  margin-left: auto;
  margin-right: 20px;
}

.navbar .btn:hover {
  color: white;
  background-color:#0B6D49;
  cursor: pointer;
}

.sidebar a.active {
  background-color: black;
  color: white;
}

.btn-eliminar {
  background-color: red;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-top: 2px;
  cursor: pointer;
  border-radius: 30px;
  width: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-eliminar:hover {
  background-color: red;
  color: white;
  transform: scale(1.1);
}

.btn-editar {
  background-color: blue;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-top: 2px;
  cursor: pointer;
  border-radius: 30px;
  width: 50px;
 transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-editar:hover {
  background-color: blue;
  color: white;
  transform: scale(1.1);
}





#reporte-btn {
 background-color: darkred;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  width: 75px;
   transition: background-color 0.3s ease, transform 0.3s ease;
}

#reporte-btn:hover{
  background-color: darkred;
  transform: scale(1.15);
}

#reporte-btn-excel {
  background-color: green;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 75px;
  margin-left: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#reporte-btn-excel:hover {
  background-color: darkgreen;
  transform: scale(1.15);
}

